* {
    font-family: 'McLaren', cursive;
}

#blog-main-pic {
    display: block;
    margin: auto;
    width: 40%;
    padding: 20px;
}

#folderImg {
    width: 20px;
    height: 20px;
    margin: 4px;
}

body {
    padding-top: 70px;
}

footer {
    margin: 50px;
}

#categoryDiv .category {
    padding-right: 20px;
    color: #337ab7;
    text-decoration: none;
    float: left;
}

#categoryDiv .category:hover {
    padding-right: 20px;
    color: #000000;
    text-decoration: none;
    float: left;
}

#categoryDiv, #tagDiv {
    overflow-y: auto;
    max-height: 500px;
}