
#listScroll {
    height: 400px;
    overflow: scroll;
}
footer {
    margin: 50px;
}

#createNewPost {
    margin: 20px;
}
.category, .tag {
    padding-right: 20px;
    color: grey;
    float: left;
}

#categoryDiv, #tagDiv {
    overflow-y: auto;
    max-height: 500px;
}

.selected {
    color: #337ab7;
    font-weight: bold;
}

#deletePostButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.DRAFTTEXT {
    background-color: yellow;
}

.PUBLISHEDTEXT {
    background-color: green;
}

.AWAITINGTEXT {
    background-color: blue;
}

.ARCHIVEDTEXT {
    background-color: red;
}