* {
    font-family: 'McLaren', cursive;
}

#listScroll {
    height: 400px;
    overflow: scroll;
}
footer {
    margin: 50px;
}

#createNewPost {
    margin: 20px;
}
.category, .tag {
    padding-right: 20px;
    color: grey;
}

.selected {
    color: #337ab7;
    font-weight: bold;
}
