body {
    margin-bottom: 60px;
}

.table-container {
    height: 10em;
}
table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#editTable tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

#alphaTable tbody{
    overflow-y: hidden;
}
table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

th {
    width: 60%;
}

td {
    width: 20%;
}

.disableClick{
    pointer-events: none;
}